.idea
backend/service/JWTUser/migrations
backend/service/JWTUser/migrations/
backend/service/Queue/migrations
backend/service/Queue/migrations/
backend/service/.DS_Store
.DS_Store
frontend/node_modules