Django==4.1.7
djangorestframework==3.14.0
psycopg2==2.9.5
djangorestframework-simplejwt==5.2.2
django-cors-headers==3.14.0
celery[redis]==5.2.7
flower==1.2.0
graphene-django==3.0.0
django-filter==22.1
gunicorn==20.1.0
